:root{
    --vermelho: #E50914;
    --preto: #141414;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;

}
header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 5px;
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}

/* movie-main*/
.movie-main{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%) ,url("/img/download.jpg");
    height: 400px;
    background-size: cover;
}